@import url('https://fonts.googleapis.com/css?family=Cardo:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

$primary-color: #00b0ae;

$serif-font: 'Cardo', serif;
$sans-serif-font: 'Montserrat', sans-serif;